@import "~bootstrap/scss/bootstrap";

html,body{
  height: 100%;
}
#root{
  margin: 0 auto;
  max-width: 1366px;
  font-family: "Rubik" sans-serif;
  height: 100%;
}
.x-bg-blue {
  background-color: #003B72;
}
.x-bg-light-blue {
  background-color: #50CAFF;
}

.x-btn-violet {
  color: #fff;
  background-color: #7761FF;
  border-color: #7761FF;
}
.x-color-violet {
  color: #7761FF;
}
.x-border-smokey{
  border-color:#EBE7FF;
}
.x-reset-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.x-nav-item{
  border-left: 5px solid #003B72;
  cursor: pointer;
  position: relative;
  color: white;
  span{
    vertical-align:middle;
  }
  .x-nav-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden; 
  }
  &:hover{
    border-left: 5px solid #7761FF;
  }
   &_active{
    background-color: white;
    color: #7761FF;
    border-left: 5px solid #7761FF;

    .x-nav-link {
      color: #7761FF;
    }
  }
}

.x-icon{
  display: inline-block;
  cursor: pointer;
  :hover {
      fill:  #7761FF;
  }
}

.x-card:hover{
    border-color: #50CAFF;
    cursor: pointer;
    .x-card-icon{
      background-color: #50CAFF;
    } 
    .x-card-title{
      border-bottom: 1px solid #50CAFF !important;
    }
}

.react-calendar__navigation {
  background-color: #7761FF;

}
.react-calendar {
  width: 100% !important;
  background: #EBE7FF;
}

.react-calendar__navigation__label,
.react-calendar__navigation,
.react-calendar__navigation__arrow {
   color: white;
}

.x-appointsment{
  max-height: 300px;
  overflow-y: auto;
}



